.hero-content{
    background-color: #ffedcc;
    padding-bottom: 12rem;
}

.content{
    padding-top: 7rem;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 1;
}

.companion-care{
    grid-column: 1/6;
}

.companion-care h2{
    font-size: 4rem;
    margin-bottom: 2rem;
}

.companion-care span{
    font-size: 1.2rem;
    line-height: 2rem;
}

.about-companion-care{
    grid-column: 8/16;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.promote-independence{
    flex-basis: calc(50% - 1rem);
    margin-bottom: 4rem;
}

.promote-independence h4{
    font-size: 1.6rem;
    margin-block: 1rem;
}

.promote-independence p{
    font-size: 1.16rem;
    line-height: 1.9rem;
}

.android-icon{
    font-size: 3rem;
}

.sign-me-up{
    max-width: 1100px;
    margin: 0 auto;
    background-color: #1140C0;
    border-radius: 50px;
    padding: 2rem;
}

.sign-me-up p{
    font-weight: bold;
    font-size: 1.1rem;
    color: #fff;
}

.sign-me-up h3{
    color: #69F1FF;
    font-size: 1.5rem;
    margin-block: 1.2rem;
}

.sign-me-up button{
    padding: 0.8rem 2rem;
    border-radius: 25px;
    border: none;
    font-weight: bolder;
    font-size: 1.2rem;
    background-color: #e3ff96;
    color: #1140C0;
}

.rx-human img{
    width: 15%;
    height: 280px;
    border-radius: 25px;
}

.pepsi-coke{
    float: right;
    margin-top: -16rem;
    margin-right: -14rem;
    transform: rotate(-4deg);
    position: sticky;
}

.mother-daughter{
    float: right;
    margin-top: -16.2rem;
    margin-right: 17rem;
    transform: rotate(7deg);
    position: sticky;
}

.old-aunty{
    float: right;
    margin-top: -16rem;
    margin-right: -14rem;
    transform: rotate(5deg);
    position: sticky;
}

.meet-papa img{
    width: 100%;
}

.play-circle{
    font-size: 11.5rem;
    background-color: #69f1ff;
    border: none;
    width: 19%;
    margin: 0 auto;
    text-align: center;
    clip-path: circle();
    margin-top: -28.5rem;
    cursor: pointer;
}

.play-circle i{
    font-size: 7rem;
    color: #1140C0;
    margin-bottom: 3rem;
}